.people {
  text-align: center;
  background-color: #F9F3E2;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  padding: 5px;
  border: 1px solid;
}

.p {
  font-size: 18px;
  padding: 10px;
  color: #43296C;
  
}

.h1 {
  font-size: 35px;
  padding: 10px;
  color: #43296C;
}

.h2 {
  font-size: 30px;
  color: #43296C;
}

.email {
  font-size: 17px;
  color: #43296C;
}
