.icon {
  font-size: 0.85em !important;
  padding-right: 0.5em;
  width: 10em;
  height: 30px;
}

.nav {
background-color: #FDE19A;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 30px;
}

.menuLeft {
display: flex;

}

.menuRight {

}