/* FOR MOBILE */
@media only screen and (max-width: 600px) {
  .loginForm {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;  
  }
  .loginForm .button {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .inputs {
    margin-bottom: 15%;
  }
}

/* FOR DESKTOP */
@media only screen and (min-width: 600px) {
  .loginForm {
    margin-top: 5em;
  }
  .loginForm .button {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }
  .login {
    width: 20%;
    margin: auto;
  }
  .inputs {
    width: 100%;
    margin-bottom: 3%;
  }
}

.loginForm {
  text-align: center;
}

.loginForm .button {
  border-radius: 10%/50%;
  background-color: black;
  color: white;
}

.input {
  border-bottom: .15em solid black;
  padding-bottom: .5em;
  padding-left: .6em;
}

.loginForm .inputs input::placeholder {
  color: black;
  font-weight: bold;
}

.loginForm .switch {
  background-color: transparent;
  padding: 0px;
  color: black;
}

.p {
  color: black;
}
