@media only screen and (max-width: 600px) {
  .loginForm {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;  
  }
  .loginForm .button {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .inputs {
    margin-bottom: 15%;
  }
}

@media not screen and (max-width: 600px) {
  .loginForm .button {
    padding-left: 12em;
    padding-right: 12em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .inputs {
    width: 25%;
    margin: auto;
    margin-bottom: 3%;    
  }
}

.loginForm {
  text-align: center;
}

.loginForm .button {
  border-radius: 10%/50%;
  background-color: black;
  color: white;
}

.input {
  border-bottom: .15em solid black;
  padding-bottom: .5em;
  padding-left: .6em;
}

.loginForm .inputs input::placeholder {
  color: black;
  font-weight: bold;
}



.switch {
  background-color: transparent !important;
  padding: 0px !important;
  color: black !important;
}

.p {
  color: black;
}
