.toolDetail {
  text-align: center;
}

.h3 {
  color: grey;
  font-size: 1.1em;
  padding: 0px 0px 20px 0px;
}

.h1 {
  font-size: 2em;
}

.h4 {
  font-size: 1.6em;
}

.h51 {
  text-align: right;
  padding:10px 0px 0px 0px;
}

.h52 {
  padding:10px 0px 0px 0px;
  text-align: left;
}

.description {
  padding: 0px 0px 30px 0px;
  font-size: 
}