.header {
  background-color: var(--dark-main) !important;
  text-align: center;
  margin-bottom: 1em !important;
}

.headerText {
  text-align: center;
  color: white !important;
}

.content {
  margin-top: 1em !important;
  background-color: white !important;
}

.description {
  height: 4em !important;
}

.content {
  background-color: #fefefe !important;
  text-align: center;
}


.available {
 float: right;
}

.image {
  background-color: white;
}

