/* * {
  margin: 0 !important;
  padding: 0 !important;
} */

.header {
  text-align: center;
  background-color:black !important;
  color: white !important;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px solid !important;
  border-radius: 0.5em !important;
}


.card {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.description {
  height: 4em !important;
}

.content {
  background-color: #FDFBF7 !important;
}

body {
}

