

.registerForm {
  text-align: center;
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 8%;  
}

/* input {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
  background-color: transparent !important;
} */

/* input::placeholder {
  color: black !important;
  font-weight: bold;
} */

.inputs {
  margin-bottom: 15% !important;
}

.registerForm .button {
  border-radius: 10%/50%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: black;
  color: white;
}

.switch {
  background-color: transparent !important;
  padding: 0px !important;
  color: black !important;
}

.p {
  color: black;
}
