/* FOR MOBILE */
@media only screen and (max-width: 768px) {
  .cardGroup {
    margin-top: 2em;
  }
}

.tools {
  background-color: #FDFBF7;
  padding-bottom: 4em;
}

body {
  background-color: #FDFBF7;
}

.header {
  padding-top: 0.5em;
  text-align: center;
  font-size: 2.5em;
}
