.workshopDetail {
  text-align: center;
}

.workshopDetail .bullets {
  text-align: left;
  display: flex;
  justify-content: center;
}

.workshopDetail .button {
  background-color: var(--dark-main);
  color: white;
}

.workshopDetail .button:hover {
  background-color: var(--button-hover);
  color: white;
}