.people {
  background-color: rgb(238, 234, 234);
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.p {
  font-size: 15px;
  padding: 10px;
  
}

.h1 {
  font-size: 35px;
  padding: 10px;
}

.h2 {
  font-size: 30px;
}
