/* overall layout */
.employeeForm .header {
  padding-top: 1em;
  font-weight: 400 !important;
}

.employeeForm {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;  
}

/* input positioning */
.employeeForm .field {
  padding-top: 1em;
  padding-bottom: 1em;

}

.employeeForm .dropdown {
  float: left;
}

/* input styling */
.employeeForm .input {
  border-bottom-color: var(--dark-main);
  border-bottom-style: ridge;
  border-bottom-width: 0.2em !important;
  font-size: 1em !important;
  padding-bottom: 0.4em;
}

.employeeForm .label {
  text-align: left;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}

/* autocomplete styling */
input:-webkit-autofill {
  color: #2a2a2a !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--dark-main) !important;
}

/* button styling  */
.employeeForm .buttonContainer {
  /* max-width: 50%; */
  display:flex;
  justify-content: center;
  box-align: center;
  margin-bottom: 2em;
}

.employeeForm .submit {
  background-color: #FDE19A;
  color: var(--dark-main);
  width: 300px;
  margin-right: 2em;
}

.employeeForm .submit:hover {
  background-color: rgb(209, 193, 152);
}

.employeeForm .back {
  background-color: #FDE19A;
  color: var(--dark-main);
  width: 300px;
  float: right;
}

.employeeForm .back:hover {
  background-color: rgb(209, 193, 152);
}