.map{
  text-align: center;
}

.h1 {
  text-align: center;
  font-size: 35px;
  color: #43296C;
}

.h2 {
  text-align: center;
  font-size: 25px;
  color: #43296C;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.p{
  font-size: 20px;
  color: #43296C;
}