.about {
    text-align: center;
    background-color: rgb(238, 234, 234);
  }

  .h1 {
    font-size: 35px;
  }

  .p {
    font-size: 20px;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
