.about {
    text-align: center;
    background-color: #F9F3E2;
  }

  .h1 {
    font-size: 35px;
    padding:20px 0px 0px 0px;
    color: #43296C;
  }

  .p {
    font-size: 20px;
    color: #43296C;
    padding: 0px 0px 20px 0px;
  }

  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
